#myInput {
    background-position: 15px 16px; 
    border: 1px solid rgba(255,255,255,0.3);
    width: 97%; 
    color: black;
    font-size: 12px;  
    padding: 6px 20px 6px 15px; 
    text-transform: uppercase;
    
}

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #CFD8DC;
  height: 50px;
 }
.tbl-content{
  height:350px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 5px 4px;
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 8px;
  text-align: left;
  vertical-align:middle;
  font-weight: 380;
  font-size: 13px;
  color: black;
  
}

/* demo styles */

 
section{
  margin-top: 20px;
}


/* follow me template */
.made-with-love {
  margin-top: 25px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 1px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}

.btn-exp-equipamento{
	margin-top: 20px;
	margin-left: 500px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-input-placeholder {
   color: white;
   font: 12px verdana, arial, sans-serif;
}
