/*------------------Produto-------------------*/
.input-novo-produto {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-novo-produto {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-novo-produto:hover {
    background-color: #007bff;
}

.p-novo-produto{
	margin-top:-9px;

}

.input-entrada-produto {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-entrada-produto {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.input-update-produto {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-update-produto {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-novo-produto:hover {
    background-color: #007bff;
}

.p-update-produto{
	margin-top: -6px;
}

td{
  padding: 8px;
  text-align: left;
  vertical-align:middle;
  font-weight: 380;
  font-size: 15px;
  color: black;
}

/*------------------Fim Produto-------------------*/

/*------------------Equipamento-------------------*/
.input-novo-equipamento {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-novo-equipamento {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-novo-equipamento {
    background-color: #007bff;
}

.p-novo-equipamento{
	margin-top:-9px;

}

.input-entrada-equipamento {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-entrada-equipamento {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.input-update-equipamento {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-update-equipamento {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-novo-equipamento:hover {
    background-color: #007bff;
}

.p-update-equipamento{
	margin-top: -6px;
}

td{
  padding: 8px;
  text-align: left;
  vertical-align:middle;
  font-weight: 380;
  font-size: 15px;
  color: black;
}

/*------------------Fim Equipamento-------------------*/

/*------------------Usuario-------------------*/
.input-novo-usuario {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-novo-usuario {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-novo-usuario:hover {
    background-color: #007bff;
}

.p-novo-usuario{
	margin-top:-9px;

}

.input-entrada-usuario {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-entrada-usuario {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.input-update-usuario {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-update-usuario {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-novo-usuario:hover {
    background-color: #007bff;
}

.p-update-usuario{
	margin-top: -6px;
}


/*------------------Fim Usuario-------------------*/

.div-error {
	width:300px;
	height:1px;
    border-radius: 5px;
    background-color: white;
	margin-left:33%;
	padding: 20px;
	margin-top:4px;
}